<footer class="page-footer grey darken-4">
  <div class="footer-copyright">
    <div class="container center">
      Copyright © <span id="yearWebsite"></span> - OA Security
    </div>
  </div>
</footer>