<nav class="grey darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center"><img src="/img/logo.png"></a>
    {{#if usuario}}
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {{#ifeq usuario.rol.nombre '===' 'Administrador'}}
      <li><a href="/">Inicio</a></li>
      <li><a href="/admin/registro">Registro</a></li>
      {{/ifeq}}
      <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {{#ifeq usuario.rol.nombre '===' 'Administrador'}}
      <li><a href="/">Inicio</a></li>
      <li><a href="/admin/registro">Registro</a></li>
      {{/ifeq}}
      <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
    {{/if}}
  </div>
</nav>