<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Aplicación de administración de OA Security.">
    <meta name="author" content="OA Security">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{tituloVentana}} | OA Security</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> navigation}}
    {{{body}}}
    {{> footer}}
    <script src="/js/plugins/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.validate.min.js"></script>
    <script src="/js/mainScript.js"></script>
    {{#if face_api }}
    <script type="text/javascript" src="/js/plugins/mobile-detect.min.js"></script>
    <script type="text/javascript" src="/js/plugins/face-api.min.js"></script>
    {{/if}}
    {{#if registro}}
    <script>
        var urlAPI = "{{urlAPI}}";
    </script>
    {{/if}}
    {{#each scripts}}
    <script src="/js/{{this}}.js"></script>
    {{/each }}
</body>

</html>