<div class="had-container">
    <div class="parallax-container logueo-facial">
        <div class="parallax"><img
                src="https://alistapart.com/wp-content/uploads/2016/01/fig-6-background-blend-mode.jpg"></div>
        <div class="row">
            <div class="col m8 s12 offset-m2 center">
                <h4 class="truncate bg-card-user">
                    <div class="row login">
                        <h5>Login Voz</h5>
                        <div id="comandosFaciales" class="row">
                            <p>Rostro detectado: <small id="smallRostroDetectado">Cargando...</small></p>
                            <p>Gestos a realizar: <small id="smallCantidadGestosPorRealizar">Cargando...</small></p>
                            <p>Gestos realizados: <small id="smallCantidadGestosRealizados">Cargando...</small></p>
                            <p>Gesto a realizar: <small id="smallGestoRealizar">Cargando...</small></p>
                        </div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>