<div class="had-container">
    <div class="parallax-container logueo-facial">
        <div class="parallax"><img
                src="https://alistapart.com/wp-content/uploads/2016/01/fig-6-background-blend-mode.jpg"></div>
        <div class="row">
            <div class="col m8 s12 offset-m2 center">
                <h4 class="truncate bg-card-user">
                    <div class="row login">
                        <h5>Login Facial</h5>
                        <div class="row">
                            <div class="progress" id="loader">
                                <div class="indeterminate"></div>
                            </div>
                            <div id="div_camera">
                                <video class="responsive-video" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay
                                    muted playsinline></video>
                                <canvas id="overlay" />
                            </div>
                        </div>
                        <div id="comandosFaciales" class="row">
                            <p>Rostro detectado: <small id="smallRostroDetectado">Cargando...</small></p>
                            <p>Gestos a realizar: <small id="smallCantidadGestosPorRealizar">Cargando...</small></p>
                            <p>Gestos realizados: <small id="smallCantidadGestosRealizados">Cargando...</small></p>
                            <p>Gesto a realizar: <small id="smallGestoRealizar">Cargando...</small></p>
                        </div>
                        <div class="row">
                            <div id="cameraControls"></div>
                        </div>
                        <div id="facesContainer" class="row col m12 s12" style="display: none;">
                        </div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>

<div id="modalFacial" class="modal">
    <div class="modal-content">
        <h4>Hubo un error!</h4>
        <p>No pudimos reconocerlo, ¿Desea iniciar sesión por reconocimiento de voz?</p>
    </div>
    <div class="modal-footer">
        <a href="/login/voz" class="modal-action waves-effect waves-green btn-flat">SI</a>
        <a href="/login" class="modal-action waves-effect waves-green btn-flat">NO</a>
    </div>
</div>