<div class="had-container">
    <div class="parallax-container logueo-facial">
        <div class="parallax"><img
                src="https://alistapart.com/wp-content/uploads/2016/01/fig-6-background-blend-mode.jpg"></div>
        <div class="row">
            <div class="col m8 s12 offset-m2 center">
                <h4 class="truncate bg-card-user">
                    <div class="row login">
                        <h5>Login Voz</h5>
                        <p id="indicacionLoginVoz">Grabe su frase de contraseña.</p>
                        <div class="row"><small>00:</small><small id="smallSeconds">00</small></div>
                        <div class="row" id="divSendAudio">
                        </div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>

<div id="modalVoz" class="modal">
    <div class="modal-content">
        <h4>Hubo un error!</h4>
        <p>No pudimos reconocerlo, ¿Desea iniciar sesión por reconocimiento facial?</p>
    </div>
    <div class="modal-footer">
        <a href="/login/facial" class="modal-action waves-effect waves-green btn-flat">SI</a>
        <a href="/login" class="modal-action waves-effect waves-green btn-flat">NO</a>
    </div>
</div>