<div class="had-container">
    <div class="parallax-container registro">
        <div class="parallax"><img
                src="https://alistapart.com/wp-content/uploads/2016/01/fig-6-background-blend-mode.jpg"></div>
        <div class="row"><br>
            <div class="col m8 s12 offset-m2 center">
                <h4 class="truncate bg-card-user">
                    <div class="row register">
                        <h5>Registro</h5>
                        <div id="rowCamera" class="row">
                            <div class="progress" id="loader">
                                <div class="indeterminate"></div>
                            </div>
                            <div id="div_camera">
                                <div id="facesContainer" class="row col m12 s12" style="display: none;"></div>
                                <video class="responsive-video" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay
                                    muted playsinline></video>
                                <canvas id="overlay" />
                            </div>
                            <div id="cameraControls"></div>
                        </div>
                        <hr style="margin-bottom: 0px;">
                        <div id="rowAudio" class="row">
                            <p>GRABAR LA SIGUIENTE FRASE:</p>
                            <p><b id="phraseToRecord">Cargando...</b></p>
                            <small>00:</small><small id="smallSeconds">00</small>
                            <div id="audioControls"></div>
                            <div id="recordingContainer" class="row col m12 s12" style="display: none;"></div>
                        </div>
                        <hr style="margin-bottom: 0px;">
                        <form id="formRegistro" class="col m12 s12">
                            <div class="row" style="margin-top: 0px; padding-top: 0px;">
                                <div class="input-field col m12 s12" style="margin-top: 0px; padding-top: 0px;">
                                    <input id="dni" name="dni" type="text" class="validate" required autocomplete="off">
                                    <label for="dni">DNI</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <input id="nombres" name="nombres" type="text" placeholder="Nombres"
                                        class="validate" readonly required>
                                    <label for="nombres">Nombres</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <input id="apellidos" type="text" name="apellidos" placeholder="Apellidos"
                                        class="validate" readonly required>
                                    <label for="apellidos">Apellidos</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <input id="email" type="email" name="email" class="validate" required
                                        autocomplete="off">
                                    <label for="email">Correo electrónico</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m12 s12">
                                    <input id="password" type="password" name="password" class="validate" required>
                                    <label for="password">Contraseña</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit">Enviar
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>